body{
font-family:Calibri;
}

fieldset{
width:600px;
margin:0 auto;
background-color:#d6d2d1;
}

.titulo{
font-weight:bold;
}

.requerido{
color:#CC0000;
font-size:1.4em;
}


li div{
	width: 60%;	
	float: left;
	margin-bottom:10px;
}

p.ayuda{
		display: none;
		width: 180px;		
		float:right;
		padding:0px;
		margin:0px;
}

li:hover p.ayuda {			
		display: block;
		margin-top:-7px;
		}

span#prov select {
		border: 1px solid #ccc;
		background: URL("flechita.png") no-repeat 99.9% 0% #fff !important;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
 }
 
span#ps select {
		border: 1px solid #ccc;
		background: URL("flechita.png") no-repeat 99.9% 0% #fff !important;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
 }
 
 /*=====================*/
 
ul{
padding:0;
margin:0;
}
	

ul li span label{
font-size:0.8em;
}

ul li div span input{
box-shadow:-0.5px -0.5px silver;
background: #fff;
}

ul li div span input:focus{	
outline: none !important;
border-color:#cbecfe;
box-shadow: 0 0 0px silver;
}

	
li{
float:left;
width:98%;
list-style:none;
border-top: 1px solid silver;
padding:5px;		
}
	
li[id="boton"]{
height:3em;
overflow:hidden;
margin-top:0px;
border-top:2px solid silver;
}
	
li:hover{background-color:#c0c0c0;}

/*=================INPUT====*/
input#nombre {	
display:block;
width:50%;
height:20px;
}

input#apellidos{
display:block;
width:90%;
height:20px;
}

input#fnac{
display:block;
width:20%;
height:20px;
}
/*
input#direccion{
display:block;
width:90%;
height:20px;
}

input#cpostal{	
width:6.8em; 
display:block;
height:20px;
}

input#municipio{
width:11em; 
display:block;
height:20px;
}

input#telefono{
width:70%; 
display:block;
height:20px;
}
*/

input#email{
display:block;
width:90%;
height:20px;
}


input[id="alta"]{
float:right;
height:2.1em;
font-style:bold;
font-size:1.2em;
margin-right:5px;
margin-top:5px;
}

/*=================LABEL====*/
label[for="nombre"]{
display:block;
margin-bottom:8px;
}						
						
label[for="apellidos"]{	
display:block;
margin-bottom:8px;
}

label[for="fnac"]{	
display:block;
margin-bottom:8px;
}							
/*														
label[for="direccion"]{	
display:block;
margin-bottom:8px;
}

label[for="codigopostal"]{
display:block;
margin-bottom:5px;
}
							
label[for="municipio"]{
display:block;
margin-bottom:5px;
}

label[for="telefono"]{
display:block;
margin-bottom:5px;
}	
*/
							
label[for="email"]{
display:block;
margin-bottom:8px;
}

label[for="tipo"]{
display:block;
margin-bottom:5px;
}	
				
label[for="alumno"]{
display:block;
margin-bottom:5px;
}

label[for="profesor"]{
display:block;
margin-bottom:5px;
}