@CHARSET "UTF-8";
/* General */
body {
	width: 1024px;
	background-color: white;
	margin: auto;
}

header {
	background-color: #FFD700;
	background-image: url('olmos_logo.png');
	background-size: 80px 90px;
	background-repeat: no-repeat;
	background-position: 70% 40%;
	float: center;
	width: 100%;
	height: 70px;;
	text-align: center;
	padding-top: 3em;
}

header .titulo {
	color: white;
	text-shadow: 4px 3px 2px #585858;
	font-family: Verdana;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

header div#usuario {
	background-color: #DBA901;
	font-family: Verdana;
	font-size: 10px;
	text-align: right;
	margin-top:30px;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
}

footer{
	clear:both;
	height: 110px;
	margin-top: 70px;
	//border: 1px solid black;
}

footer div#footer1 {
	background-color: #DBA901;
	font-family: Verdana;
	font-size: 10px;
	text-align: center;
	padding: 5px;
	border-radius: 10px 10px 0px 0px;
}

footer div#footer2{
	background-color: #FFD700;
	height: 100%;
}

/* Main Navigation */


/* Menús */


/* Drop-Down Navigation */
nav ul#navigation li:hover>ul {
	/*these 2 styles are very important, 
being the ones which make the drop-down to appear on hover */
	visibility: visible;
	opacity: 1;
}

nav ul#navigation ul, nav ul#navigation ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/*the next 2 styles are very important, 
being the ones which make the drop-down to stay hidden */
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 99999;
	width: 180px;
	background: #f8f8f8;
	box-shadow: 1px 1px 3px #ccc;
	/* css3 transitions for smooth hover effect */
	-webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
	-moz-transition: opacity 0.2s linear, visibility 0.2s linear;
	-o-transition: opacity 0.2s linear, visibility 0.2s linear;
	transition: opacity 0.2s linear, visibility 0.2s linear;
}



/* Formularios */

